<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Explore asapdevelopers.com</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="bitcoin-com-page-header">
        <span class="nav-bar-title textlogo">Asapdevelopers.com</span>
    </div>

    <div class="bitcoin-com-page-body">
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://www.asapdevelopers.com')">Visit Asapdevelopers.com</button>
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://www.asapdevelopers.com/blog')">Read Our Blog</button>
        <button class="button button-standard button-secondary" ng-click="openExternalLink('https://www.asapdevelopers.com/work')">Visit Our Projects</button>
    </div>
  </ion-content>

</ion-view>
